[[extend 'layout.html']]

<div class="section">
   <a class="button is-success" href="[[=URL('add_contact')]]">
      <span class="icon"><i class="fa fa-plus"></i></span>
      <span>Add</span>
   </a>
   <div class="container">
      <table class="table is-striped is-fullwidth">
         <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th></th>
            <th>Phone Numbers</th>
            <th></th>
         </tr>
         [[for row in rows:]]
         <tr>
            <td>[[=row["first_name"] ]]</td>
            <td>[[=row["last_name"] ]]</td>
            <td>
               <a class="button" href="[[=URL('edit_contact', row['id'])]]">
                  <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
               </a>
               <a class="button" href="[[=URL('delete_contact', row['id'], signer=url_signer)]]">
                  <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
               </a>
            </td>
            <td>[[=row["phone"] ]]</td>
            <td>
               <a class="button" href="[[=URL('phone_index', row['id'])]]">
                  <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
               </a>
            </td>
         </tr>
         [[pass]]
      </table>
   </div>
</div>