[[extend 'layout.html']]

<div class="section">
    <h1 class="title"> [[=name]] Phone Numbers</h1>
    <div class="container">
        <table class="table is-striped is-fullwidth">
            <tr>
                <th>Phone</th>
                <th>Type</th>
                <th></th>
            </tr>
            [[for row in rows:]]
            <tr>
                <td>[[=row.number]]</td>
                <td>[[=row.type]]</td>
                <td>
                    <a class="button" href="[[=URL('edit_number', row.id)]]">
                        <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
                    </a>
                    <a class="button" href="[[=URL('delete_number', row.id, signer=url_signer)]]">
                        <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
                    </a>
                </td>
            </tr>
            [[pass]]
        </table>
        <a class = "button is-success" href="[[=URL('index')]]">
            <span class="icon"><i class ="fa fa-backward"></i></span><span>Back</span>
        </a>
        <a class="button is-success" href="[[=URL('add_number', contact_id)]]">
            <span class="icon"><i class="fa fa-plus"></i></span><span>Add</span>
        </a>
    </div>
</div>